@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

#header {
    background: rgb(0, 11, 12) !important ;
    padding: 0 40px;
    
}

.logo{
    width: 250px;
    height: 60px;
}

#user-tools .theme-toggle{
    display: none;
}

#user-tools,
#user-tools button    {
    font: 14px white  Arial, Helvetica, sans-serif;
}


table caption{
    background: #000 !important;
    display: block;
    width: 120%;
   
    
}
table caption a{
    color: White !important;
}

@media (min-width: 1024px) {
    .dashboard #content {
        width: 80%;
    }
}
#content a{
    color: rgb(96, 94, 94);
}

form #searchbar{
    height:1.875rem !important;
   
}