{% extends "base.html" %} {% block content %}

<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'expenses' %}">Expenses</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Expenses</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'add-expenses' %}" method="post">
        {% include "partials/messages.html" %}
        {% csrf_token %}
        <div class="mb-2">
          <label for="">Amount</label>
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder=""
            name="amount"
            value="{{values.amount}}"
          />
        </div>

        <div class="mb-2">
          <label for="">Description</label>
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder=""
            name="description"
            value="{{values.description}}"
          />
        </div>

        <div class="mb-2">
          <label for="">Category</label>

          <select name="category" class="form-select">
            {% for item in categories %}
            <option name="category" value="{{item.name}}">{{item.name}}</option>

            {% endfor %}
          </select>
        </div>

        <div class="mb-2">
          <label for="">Date of Expense</label>
          <input
            type="date"
            class="form-control"
            id="floatingInput"
            placeholder=""
            name="expense_date"
          />
        </div>
        <input type="submit" class="btn btn-primary" />
      </form>
    </div>
  </div>
</div>

{% endblock %}
